.app-body {
  display: grid;
}

.hidden {
  display: none !important;
}

#app-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#applications-list {
  display: flex;
  border: 2px solid #333333;
  background-color: rgb(141, 117, 117);
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
  overflow: hidden;
  padding: 5%;
  margin: auto;
  max-width: 80em;
}

.kanban-card {
  display: flex;
  border: 2px solid #333333;
  box-sizing: border-box;
  padding: 15px;
  background-color: rgb(184, 193, 200);
  flex-direction: column;
  justify-content: space-between;
}

.kanban-column-flex-container {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 500px;
  flex: 1 1 250px;
}

.kanban-column-header {
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.application-header {
  background-color: bisque;
}

.application-footer {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding: 5%;
  background-color: rgb(111, 198, 242);
  justify-content: space-evenly;
}

.delete-application-dialog-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(76, 150, 215, 0.735);
}

.delete-application-dialog {
  border: 2px solid #393939;
  padding: 20px;
  height: 100px;
  width: 160px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
}

.application-container-create {
}

.create-application-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.application-create-form-field label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
